*.swp
ghc*.tar.bz2
*.tar.gz
autoconf.mk
autom4te.cache
config.log
config.status
configure
dist

platform_ghc
build
src/gmp

src/HALVMCore/dist-install
src/XenDevice/dist-install

src/XenDevice/GNUmakefile

src/libm/*/*.o
src/libIVC/*/*.o

src/libIVC/libIVC.a
*test*

src/misc/*.o
src/profiling/convert-profile

*.disk

packages/
rpmbuild/

*.deb
*.dsc
halvm-*/
halvm*.changes
src/debian/rules
