*.o
*.a
.*.swp
autom4te.cache/
config.log
config.status
/configure
dist/
libIVC/Makefile
libm/Makefile
libraries/communication/communication.buildinfo
libraries/BitFiddler/dist/
libraries/BoundedChan-1.0.0.0/
libraries/HALVMCore/HALVMCore.buildinfo
libraries/HALVMCore/dist/
libraries/RealDevice/dist/
libraries/RendezvousLib/dist/
libraries/XenDevice/XenDevice.buildinfo
libraries/XenDevice/dist/
libraries/bytestring-*/
libraries/cereal-*/
libraries/communication/dist/
libraries/libDomainBuilder/libDomainBuilder.buildinfo
libraries/log4h/dist/
libraries/stm-2.1.2.2/
mk/autoconf.mk
platform_ghc/
tarballs/
xen-ghc/
.submodule.init
gmp/
