[submodule "halvm-ghc"]
	path = halvm-ghc
	url = git://github.com/GaloisInc/halvm-ghc.git
	branch = halvm
[submodule "src/openlibm"]
	path = src/openlibm
	url = git://github.com/acw/openlibm
[submodule "examples/HighLevel/WebServer"]
	path = examples/HighLevel/WebServer
	url = https://github.com/GaloisInc/halvm-web.git
